// module/coming-soon.scss

.coming-soon {
    position: absolute;
    #cs-following {
        position: absolute;
        box-shadow: inset 2px 0px 0px 0px rgba(0, 88, 240, 1);
        left: 50px;
        top: 130px;
        width: 150px;
        background-color: #484848;
        .cs-following-container {
            p {
                color: #3888a0;
                margin-left: 5px;
                font-size: 0.9em;
                color: grey;
            }
        }
    }
}
