<div class="channels" ng-controller="channelsCtrl">
    <div class="channels-wrap">
        <!-- CHANNEL TILE -->
        <div class="channel-tile">

            <div class="channel-tile-info">
                <img ng-src="{{streams[0].preview.medium}}" />
                <div class="channel-tile-stats">
                    <p>{{streams[0].channel.status}}</p>
                    <p>{{streams[0].channel.display_name}}</p>
                    <p>{{streams[0].game}}</p>
                    <p>{{streams[0].viewers}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
