<div class="channels" ng-controller="channelsCtrl">
    <div class="channels-wrap">
        <!-- CHANNEL TILE -->
        <div class="channel-tile" ng-repeat="stream in streams">

            <div class="channel-tile-info">
                <img ng-src="{{stream.preview.medium}}" />
                <div class="channel-tile-stats">
                    <p>{{stream.channel.status}}</p>
                    <p>{{stream.channel.display_name}}</p>
                    <p>{{stream.game}}</p>
                    <p>{{stream.viewers}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
