<div class="featured" ng-controller="featuredCtrl">
    <div class="featured-wrap">
        <!-- CHANNEL TILE -->
        <div class="channel-tile" ng-repeat="stream in streams">
            <h1>FEATURED</h1>
            <div class="channel-tile-info">
                <img ng-src="{{stream.stream.preview.medium}}" />
                <div class="channel-tile-stats">
                    <p>{{stream.text}}</p>
                    <p>{{stream.stream.channel.status}}</p>
                    <p>{{stream.stream.channel.display_name}}</p>
                    <p>{{stream.stream.game}}</p>
                    <p>{{stream.stream.viewers}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
