/*DEFAULT*/

html, body, .wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}


/*MODULES*/
.hidden {
    display: none;
}

body {
    overflow: hidden;
}

/*MENU*/

/*LOGO*/
.logo {
    margin-top: 10px;
    text-align: center;
}

.logo i {
    font-size: 1.6em;
    color: white;
}

.menu {
    position: absolute;
    height: 100vh;
    z-index: 2;
    background-color: #383838;
    width: 50px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu-active {
    box-shadow: inset 2px 0px 0px 0px rgba(0,88,240,1);
}

.menu-button {
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
}

.menu-button:hover {
    box-shadow: inset 2px 0px 0px 0px rgba(0,88,240,1);
    background-color: #626262;
}

.menu-button:hover i {
    color: #262626;
}

.icons ul {
    list-style: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

.icons ul i {
    font-size: 1.5em;
    color: grey;
}

.viewport {
    position: absolute;
    left: 50px;
    width: 100vw - 50px;
    height: 100vh;
}


/*DEFAULT VIEW*/
.default {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: #171717;
}
/*TILES*/
.default-tiles {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100vw;
}

.tile {
    width: 200px;
    cursor: pointer;
    border: 1px solid rgba(56, 136, 160, 0.17);
}

.tile a {
    text-decoration: none;
}

.tile:hover {
    background-color: #484848;
}

.tile i {
    display: block;
    font-size: 40px;
    text-align: center;
    color: #3888a0;
}

.tile p {
    text-align: center;
    color: #3888a0;
}

.tile-container {
    margin-top: 70%;
}
