// base/reset.scss

html, body, .wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
