// pages/options.scss

.options {
    margin: 0;
    height: 100%;
    background-color: $primary-background-color;
    #options-border {
        background-color: $tile-color;
        color: $font-color;
        width: 90%;
        margin: 0 auto;
        padding: 10px 20px;
    }
}
