<div class="channels" ng-controller="channelsCtrl">
    <div class="channels-wrap">
        <!-- CHANNEL TILE -->
        <div class="channel-tile">

            <div class="channel-tile-info">
                <img ng-src="{{streams.thumbnail}}" />
                <div class="channel-tile-stats">
                    <p>{{streams.title}}</p>
                    <p>{{streams.display_name}}</p>
                    <p>{{streams.viewers}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
